<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand bg-light fixed-top" th:fragment="nav">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
        </ul>
        <div class="d-flex">
            <div th:if="${isLogin == null or !isLogin}">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/users/login" class="nav-link">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/create" class="nav-link">회원가입</a>
                    </li>
                </ul>

            </div>
            <div th:if="${isLogin != null and isLogin}">
                <form method="post" action="users/logout">
                    <button type="submit" class="btn nav-link">로그아웃</button>
                </form>
            </div>

        </div>
    </div>





</nav>
</html>