<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Community</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div sec:authorize="!isAuthenticated()" class="collapse navbar-collapse">
            <ul class="d-flex navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/create">회원가입</a>
                </li>
            </ul>
        </div>

        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse">
            <ul class="d-flex navbar-nav ms-auto">
                <li class="nav-item">
                    <form method="post" action="users/logout">
                        <button type="submit" class="btn nav-link">로그아웃</button>
                    </form>
            </ul>
        </div>

    </div>
</nav>
</html>
