<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}"></head>
<body>
<nav th:replace="~{fragments/nav.html :: nav}"></nav>
<div class="container mt-5">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>이름</th>
      <th>이메일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.email}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>