<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link text-white">Home</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    <a href="/users/create">회원가입</a>
</div>
<div class="container my-5">
    <a href="/users">회원 목록</a>
</div>
</body>
</html>